@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
body .row:after {
  content: " ";
  display: block;
  clear: both;
}
body .row .col {
  float: left;
  display: block;
  height: 100%;
}
body .row .col:after {
  content: " ";
  display: block;
  clear: both;
}
body .row .col:first-child {
  width: 150px;
  background: #EEEEEE;
}
body .row .col:last-child {
  width: calc(100% - 150px);
  background: #999999;
}
body .row .col .workarea {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 2.5%;
  overflow: hidden;
  background: #FFFFFF;
}
body .row .col .workarea .picture {
  width: 30%;
  margin-left: 30%;
  margin-top: 10%;
  display: block;
}
body .row .col .workarea .uploadArea {
  background: url("https://cdn0.iconfinder.com/data/icons/Hand_Drawn_Web_Icon_Set/128/photo_upload.png") no-repeat;
  height: 128px;
  width: 128px;
  margin: 20% auto;
}
body .row .col .workarea .uploadArea input {
  width: 128px;
  height: 128px;
  opacity: 0;
  filter: alpha(opacity=0);
}
